<!-- -*- mode: html; coding: utf-8 -*- -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Native2Ascii</title>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <a href="https://github.com/ser1zw/native2ascii"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <div id="header" class="container">
      <h1>native2ascii - Native to ASCII Converter</h1>
      <p class="lead">
	Web-based native2ascii utility.
      </p>
    </div>

    <div id="main" class="container">
      <p class="block">
	Converts texts from native encodings (non-ASCII) to ASCII with escaped Unicode, or vice versa.
      </p>

      <h2>Input text:</h2>
      <div class="block">
	<div>
	  <textarea id="inputarea" class="span8" rows="5" placeholder="Enter text to convert..."></textarea>
	</div>
	<input type="button" class="btn btn-large" value="Native to Ascii" onclick="onConvertButtonClick('native2ascii')">
	<input type="button" class="btn btn-large" value="Ascii to Native" onclick="onConvertButtonClick('ascii2native')">
	<input type="button" class="btn btn-large" value="Reset" onclick="onResetButtonClick()">
      </div>

      <h2>Result:</h2>
      <pre class="block"><code id="results"></code></pre>
    </div>
  </body>
</html>

