/* -*- mode: html; coding: utf-8 -*- */
body {  
    text-align: center;
    background-color: #fefefe;
}
#main {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
.block {
    margin-bottom: 20px;
}

